[run]
relative_files = True

[report]
show_missing = True
exclude_lines = 
    pragma: no cover
    def __repr__
    raise
    except
    print
    if __name__ == .__main__.:
omit = 
    **/__init__*
    **/_fit.py
    **/tests/*
    **/version.*
    **/data/*
    **/data.*
